<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/cita2.css'>
    <title>Document</title>
</head>
<body>
    
    <div class="pe"><h1>CITA</h1>
    <p class="fe" onclick="location=`/home`">←</p></div>

    <div class="mimi"><h2  class="le">USUARIO:</h2>
    <input type="text" disabled class="in" id="name">
    <h2 class="te">FECHA:</h2>
    <input type="text" disabled class="an" id="date">
    <h2>DOCTOR:</h2>
    <input type="text" disabled class="an" id="doc">
    <br>
    
</body>
<script src="/static/js/main.js"></script>
</html>