<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/re2.css'>
    <title>Document</title>
</head>
<body>
    <div class="pe"><h1>REGISRO DE CITAS</h1>
    <p class="fe" onclick="location=`/api/deauth`">Cerrar</p></div>

    <div class="mimi" id="first">
        <div class="date">
            <!--<h2  class="le">5-Julio-2025, Doc. Perez, Neurologo</h2>
            <button class="ab">ABRIR</button>-->
        </div>
    </div>

    <div class="are" id="second">
        <div class="date">
            <!--<h2  class="le">5-Julio-2025, Doc. Perez, Neurologo</h2>
            <button class="ab">ABRIR</button>-->
        </div>
    </div>

</body>
<script src="/static/js/app.js"></script>
</html>