<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Proyecto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/diseno2.css'>
</head>
<body>
    <div class="pe"><h1>INICIO DE SESION</h1></div>

    <form class="mimi" method="post" action="/api/auth">
        <h2  class="le">USUARIO:</h2>
        <input type="text" class="in" name="username">
        <h2 class="te">CONTRASEÑA:</h2>
        <input type="text" class="an" name="password">
        <br>
        <button class="bu">ACEPTAR</button>
    </form>
</body>
</html>